@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', 'Tajawal', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body.rtl {
  direction: rtl;
  text-align: right;
  font-family: 'Tajawal', 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body.ltr {
  direction: ltr;
  text-align: left;
  font-family: 'Inter', 'Tajawal', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
